/.probe/
/backups/
/.idea/
/.vscode/
/saves/
/.mixin.out/
/开发模组/
/xaero/
/logs/
/mods/
/tlm_custom_pack/
/oeb/
/oef/
/oei/
/PCL/
/quests_structures/
/ESM/
/crash-reports/
/DUT机械动力-natives/
/armourers_workshop/
/screenshots/
/CustomSkinLoader/
12.json
11231.json
.gitignore
hotbar.nbt
case.json
DUT机械动力.json
DUT机械动力.jar
0.7.1Alpha2hotai修复.zip
*.log
observable_announce
rhino.local.properties
/kubejs/probe/
/local/ftbchunks/data/
/XaeroWaypoints_BACKUP240807/
/local/kubejs/
/resourcepacks/新建文件夹/
/resourcepacks/字体修改示例/
/schematics/需要数据包的机器/
/schematics/需要CC&A之类的附属的机器/
/schematics/铁路/
/schematics/火车-包含装甲列车/
/schematics/水路/
/schematics/普通机器/
/schematics/建筑/
/schematics/帅的机器/
/schematics/军械/
/schematics/uploaded/
/schematics/CCB/
/config/worldedit/
/fancymenu_data/
/local/ftbquests/saved/
/modernfix/
